node_modules
dist
coverage
.vscode
*.log
*.lock
*.local
*.env
*.tsbuildinfo
*.tgz
# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent